alias a='alsamixer'
alias p='pulsemixer'
alias ls='ls -lh --color=auto'
alias mkdir='mkdir -p'
alias s='screen -r'
alias grep='grep --color=auto'
alias die='shutdown -h now'
alias rcp='rsync --recursive --verbose --partial --progress'
alias dfck='df -hl --exclude-type=tmpfs --exclude-type=devtmpfs'
alias yay='yay --editmenu'

alias more='less'

alias Kerbal='steam steam://rungameid/220200'
alias SpaceEngineers='steam steam://rungameid/244850'
