alias a='alsamixer'
alias p='pulsemixer'
alias s='screen -r'
alias ls='ls -lh --color=auto'
alias mkdir='mkdir -p'
alias grep='grep --color=auto'
alias die='shutdown -h now'
alias rcp='rsync --recursive --verbose --partial --progress'
alias dfck='df -hl --exclude-type=tmpfs --exclude-type=devtmpfs'
alias yay='yay --editmenu'

alias more='less'
